/* styles/poster.css */

button {
  padding: 10px 20px;
  /* パディング */
  font-size: 1rem;
  /* フォントサイズ */
  color: white;
  /* テキストの色 */
  background-color: #000000;
  /* 背景色 */
  border: none;
  /* ボーダーなし */
  border-radius: 5px;
  /* 角を丸くする */
  cursor: pointer;
  /* カーソルをポインタに */
  margin-bottom: 20px;
}

button:hover {
  background-color: #00000014;
  /* ホバー時の背景色 */
}

.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: center;
  text-align: center;
  /* テキストを中央揃え */
  color: #333;
  /* テキストの色 */
  font-family: Arial, sans-serif;
  /* フォント */
}